.contact-page.big-daddy-div {
    width: 100%;
    height: 100%;
   
    /* border: solid 3px springgreen; */
}

.contact-title-area {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    min-width: 600px;

    /* border: solid 3px yellow; */
}


.contact-me {
    font-family: 'Josefin Slab', serif;
    font-size: 56px;
    color: #5a38fd;
}

.biggest-form-div{
    display: flex;
    justify-content: center;
    min-width: 600px;

    /* border: solid 3px yellow; */
}

.form-div {
    height: 600px;
    width: 100%;
    min-width: 600px;

    display: flex;
    justify-content: center;
    margin: 5%;
    /* make form backgroun an img and position it, make it fill */
    background: url("/personal-site-rough-assets/pablita-211.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    /* border: solid 3px red; */
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    

    /* max-width: 500px;
    max-height: 600px; */

    /* border: solid 3px red; */
}

.form-req-caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-top: 15px;
}

.form-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

input {
    width: 100%;
    height: 35px;
    margin-top: 5px;
    box-shadow: 6px 6px 2px 1px #82b1ff;
    
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

textarea {
    box-shadow: 6px 6px 2px 1px #82b1ff;
}

.names.form-section {
    display: flex;
    flex-direction: row;
}

.first-name.form-section {
    margin-right: 20px;
}

.paragraph.form-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* border: solid 3px olivedrab; */
}

.paragraph.form-field {
    margin-top: 10px;
    margin-bottom: 30px;
}

.submit.form-section {
    display: flex;
    align-items: center;
}

input[type="submit"] {
    width: 75%;
    border: solid 3px white;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;

    /* same as the nav button aperture+gradient effect */
    background: linear-gradient(45deg, #5a38fd, #82b1ff);
    /* -webkit-mask:
        linear-gradient :(#fff 0 0) content-box;
        linear-gradient :(#fff 0 0);
    -webkit-mask-composite: destination-out; 
    
    commenting this didn't change any behavior??
    */
    mask-composite: exclude;
    /* this styling is to set up the slide effect upon hover */
    box-shadow: inset 0 0 0 0 #9d89fc;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;

}

input[type="submit"]:hover {
    /* same as the nav button aperture+gradient effect */
    box-shadow: inset 0 0 0 50px white;
    font-size: 18px;
    font-weight: bolder;
    color: #5a38fd;
}
