.big-welcome-main {
    width: auto;
    display: flex;
    justify-content: space-between;
    margin: 6% 2% 2% 2%;
    padding: 3%;

    /* border: solid 2px aqua; */
}

.welcome-article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin-right: 7%;
    min-width: 400px;
    min-height: 250px;

    /* border: solid 3px magenta; */
}

.welcome-text {
    margin-bottom: 20px;

    /* border: solid 3px springgreen; */
}

.greeting-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.blurb-emphasis {
    font-family: 'Josefin Slab', serif;
    font-size: 48px;
}

p > span {
    font-weight: bolder;
}

p span {
    color: #5a38fd;

}

.welcome.img-section {
    display: flex;
    justify-content: flex-end;
    min-width: 400px;
    min-height: 250px;

    /* border: solid 3px maroon; */
}

.welcome.illustration {
    width: 90%;

    /* border: solid 3px red; */
}
