* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: #e2d9f6;
}


.page-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: black;

    /* border: solid 3px orchid; */
}

.logo {
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    font-size: 40px;
    color: #5a38fd;
    text-decoration: none;
/* setting up the hover color effect for the left top logo */
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;

    /* border: solid 2px darkgoldenrod; */
}

.logo:hover {
    color: #82b1ff;
    text-shadow:0px 0px 15px white;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.nav-div {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    /* border: solid 2px cornflowerblue; */
}

.header-nav-bar {
    width: 75%;
    display: flex;
    justify-content: flex-end;

    /* border: solid 2px orange; */
}

.nav {
    margin-left: 1vw;

    /* border: solid 2px lawngreen; */
}

.nav-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px; 
    color: white;
    border-radius: 5px;
    padding: 5px;
    /* this styling for the the gradient effect */
    background: linear-gradient(45deg, #5a38fd, #82b1ff);
    /* -webkit-mask:
        linear-gradient :(#fff 0 0) content-box;
        linear-gradient :(#fff 0 0);
    -webkit-mask-composite: destination-out; 
        
    commenting this didn't change any behavior??
    */
    mask-composite: exclude;
    /* this styling is to set up the slide effect upon hover */
    box-shadow: inset 0 0 0 0 #9d89fc;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.nav-button:hover {
    color: #5a38fd;
    font-weight: bolder;
    /* makes the button act like an aperture slide effect */
    box-shadow: inset 0 0 0 50px white;
}

.nav-button:focus {
    /* outline: white auto 1px; */
    color: #9d89fc;
    border-color: currentColor;
    background-color: white;
    font-weight: 700;
}

.nav-button:visited {
    color: #9d89fc;
}

footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* border: solid 3px green; */
}

.socials-links-section {
    height: 80%;
    display: flex;

    /* border: solid 3px orange; */
}

.socials-icon {
    width: 30px;
}

.socials-links {
    margin: 10px;

    /* border: solid 3px yellow; */
}

div > a {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.socials-links-hyperlink {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: black;
}

.socials-links-hyperlink:hover {
    color: #5a38fd;
}

.socials-links-hyperlink:visited {
    color: #82b1ff;
}

.email-link {
    margin-top: 10px;
}

.email-me-link {
    text-decoration: none;
    font-family: 'Josefin Slab', serif;
    font-size: 16px;
    font-weight: 600;
    color: #5a38fd;
}